
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/home/saveoffofnew" method="POST">
    Title: <input type="text" name="Title" /><br />
    <input type="text" name="Image" /><br />
    <input type="text" name="Text" /><br />
    <input type="text" name="Genre" /><br />
    <input type="checkbox" name="SFW" /><br />
    <input type="submit" value="Save Me(me)!" class="btn btn-primary" />
</form>

